@if(show) {
<div id="sticky-banner" tabindex="-1" class="fixed top-0 start-0 z-50 flex justify-center items-center min-h-screen w-full bg-white bg-opacity-80">
  <button
    type="button"
    class="bg-custom-blue-500 h-max w-max rounded-lg text-white font-bold hover:bg-indigo-300 hover:cursor-not-allowed duration-[500ms,800ms]"
    disabled
  >
    <div class="flex items-center justify-center m-[10px]">
      <div class="h-5 w-5 border-t-transparent border-solid animate-spin rounded-full border-white border-4"></div>
      <div class="ml-2">Un momento por favor...</div>
    </div>
  </button>
</div>

}
