<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-70 z-50 max-h-full">
  <app-alert-badge />

  <!--  -->
  @if(isSubmitting) {
  <app-spinner />
  }

  <div class="bg-white p-6 rounded-lg shadow-lg w-[50%]">
    <h2 class="text-xl font-semibold mb-4 text-gray-500">Editar Usuario</h2>

    <div class="border-b border-[1px] border-custom-blue-100 mb-5"></div>

    <form [formGroup]="userForm" (ngSubmit)="onSave()">
      <div>
        <div class="w-full flex flex-row justify-between mb-3">
          <div class="w-[49%]">
            <label for="first_name" class="block text-sm font-semibold text-gray-700">Nombre</label>

            <input
              id="first_name"
              type="text"
              formControlName="first_name"
              class="mt-2 block w-full bg-custom-blue-50 border-gray-300 rounded-md shadow-sm h-10 pl-4 text-gray-500"
            />
          </div>

          <div class="w-[49%]">
            <label for="last_name" class="block text-sm font-semibold text-gray-700">Apellido</label>

            <input
              id="last_name"
              type="text"
              formControlName="last_name"
              class="mt-2 block w-full bg-custom-blue-50 border-gray-300 rounded-md shadow-sm h-10 pl-4 text-gray-500"
            />
          </div>
        </div>

        <div class="w-full mt-3">
          <label for="email" class="block text-sm font-semibold text-gray-700">Email</label>

          <input
            id="email"
            type="email"
            formControlName="email"
            class="mt-2 block w-full bg-custom-blue-50 border-gray-300 rounded-md shadow-sm h-10 pl-4"
          />
        </div>

        <div class="w-full flex flex-row justify-between mb-3">
          <div class="w-[49%]">
            <label for="status" class="block text-sm font-semibold text-gray-700">Estado</label>

            <select id="status" formControlName="status" class="mt-2 block w-full bg-custom-blue-50 border-gray-300 rounded-md shadow-sm h-10 pl-4">
              @for(status of statusList; track $index) {
              <option value="{{ status }}">{{ status }}</option>
              }
            </select>
          </div>

          <div class="w-[49%]">
            <label for="role" class="block text-sm font-semibold text-gray-700">Rol</label>

            <select id="role" formControlName="role_id" class="mt-2 block w-full bg-custom-blue-50 border-gray-300 rounded-md shadow-sm h-10 pl-4">
              @for(role of roles; track $index) {
              <option value="{{ role.id }}">{{ role.name }}</option>
              }
            </select>
          </div>
        </div>

        <div class="flex flex-row justify-between mb-3">
          <div class="w-[49%]">
            <label for="email_verified" class="block text-sm font-semibold text-gray-700">Email Verificado</label>

            <span class="mt-2 block w-full bg-custom-blue-50 border-gray-300 rounded-md shadow-sm h-10 pl-4 content-center text-gray-500">{{
              user.email_verified ? 'Si' : 'No'
            }}</span>
          </div>

          <div class="w-[49%]">
            <label for="phone_verified" class="block text-sm font-semibold text-gray-700">Teléfono Verificado</label>

            <span class="mt-2 block w-full bg-custom-blue-50 border-gray-300 rounded-md shadow-sm h-10 pl-4 content-center text-gray-500">{{
              user.phone_number_verified ? 'Si' : 'No'
            }}</span>
          </div>
        </div>

        <div class="flex flex-row justify-between mb-3">
          <div class="w-[49%]">
            <label for="address" class="block text-sm font-semibold text-gray-700">Dirección</label>
            <input
              id="address"
              type="text"
              formControlName="address"
              class="mt-2 block w-full bg-custom-blue-50 border-gray-300 rounded-md shadow-sm h-10 pl-4 text-gray-500"
            />
          </div>

          <div class="w-[49%]">
            <label for="city" class="block text-sm font-semibold text-gray-700">Ciudad</label>
            <input
              id="city"
              type="text"
              formControlName="city"
              class="mt-2 block w-full bg-custom-blue-50 border-gray-300 rounded-md shadow-sm h-10 pl-4 text-gray-500"
            />
          </div>
        </div>

        <div class="flex flex-row justify-between mb-3">
          <div class="w-[49%]">
            <label for="state" class="block text-sm font-semibold text-gray-700">Estado</label>
            <input
              id="state"
              type="text"
              formControlName="state"
              class="mt-2 block w-full bg-custom-blue-50 border-gray-300 rounded-md shadow-sm h-10 pl-4 text-gray-500"
            />
          </div>

          <div class="w-[49%]">
            <label for="zip" class="block text-sm font-semibold text-gray-700">Código Postal</label>
            <input
              id="zip"
              type="text"
              formControlName="zip"
              class="mt-2 block w-full bg-custom-blue-50 border-gray-300 rounded-md shadow-sm h-10 pl-4 text-gray-500"
            />
          </div>
        </div>

        <div class="flex flex-row justify-between mb-3">
          <div class="w-[49%]">
            <label for="country" class="block text-sm font-semibold text-gray-700">País</label>
            <input
              id="country"
              type="text"
              formControlName="country"
              class="mt-2 block w-full bg-custom-blue-50 border-gray-300 rounded-md shadow-sm h-10 pl-4 text-gray-500"
            />
          </div>

          <div class="w-[49%]">
            <label for="phone_number" class="block text-sm font-semibold text-gray-700">Número de Teléfono</label>
            <input
              id="phone_number"
              type="text"
              formControlName="phone_number"
              class="mt-2 block w-full bg-custom-blue-50 border-gray-300 rounded-md shadow-sm h-10 pl-4 text-gray-500"
            />
          </div>
        </div>
      </div>

      <div class="mt-4 flex justify-end">
        <button type="button" (click)="onClose()" class="bg-custom-yellow-300 hover:bg-custom-yellow-700 text-white py-2 px-4 rounded-md mr-2">
          Cerrar
        </button>

        <app-primary-button text="Guardar" />
      </div>
    </form>
  </div>
</div>
